{
  "layers": {
    "{{ layer.id }}": {
      "id": "{{ layer.id }}",
      "title": "{{ layer.title }}",
      "subtitle": "{{ layer.satellite | upper }} / {{ layer.instrument | upper }}",
      "group": "{{ layer.group }}",
      "layergroup": "{{ layer.measurement }}",
      "description": "{{ layer.instrument }}/{{ layer.satellite }}/{{ layer.id }}",
      "tags": "{{ layer.tags | join(' ')}}",
      "type": "wmts",
      "period": "{{ layer.period }}",
      "startDate": "{{ layer.start_date.strftime('%Y-%m-%dT%H:%M:%SZ') }}",
      "format": "image/{{ layer.format }}",
      {% if layer.period == "subdaily" %}"temporal": "{{ layer.temporal_start.strftime('%Y-%m-%dT%H:%M:%SZ')  }}/{{ layer.temporal_end.strftime('%Y-%m-%dT%H:%M:%SZ')  }}/PT{{ layer.date_interval }}M",{% endif %}
      "disableSmartHandoff": true,
      "wrapadjacentdays": true,
      {% if layer.colormap_id is not none %}"palette": {
        "id": "{{ layer.colormap_id }}"
      },{% endif %}
      "projections": {
        {% if layer.matrix_set and layer.source_name %}
        "geographic": {
          "matrixSet": "{{ layer.matrix_set }}",
          "source": "{{ layer.source_name }}"
        },
        {% endif %}
        "arctic": {
          "matrixSet": "{{ layer.arctic_matrix_set }}",
          "source": "{{ layer.arctic_source_name }}"
        },
        "antarctic": {
          "matrixSet": "{{ layer.antarctic_matrix_set }}",
          "source": "{{ layer.antarctic_source_name }}"
        }
      }
    }
  }
}
